trigger:
- master
- dev
- release

jobs:

- job: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      addToPath: true
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip && pip install -r requirements.txt
      curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
      sudo apt-get install nodejs -y
    displayName: 'Install dependencies'

  - script: |
      pytest --ignore=JavPy/app/web tests/test_clients/
    displayName: 'test'
