name: Small Test

on:
  push:
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Set Node.js 12.x
      uses: actions/setup-node@v1.1.0
      with:
        node-version: 12.x

    - name: Set up Python
      uses: actions/setup-python@v1.0.0
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Test with pytest
      continue-on-error: false
      run: pytest -n 4 --ignore=JavPy/app/web JavPy/tests/test_clients/test_webserver.py
