name: test

on: 
  schedule:
  - cron: '0 0 * * *'
  

jobs:
  test:
    name: ${{ matrix.node }} @ ${{ matrix.platform }}
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macOS-latest, windows-latest]
        node: [12, 14]


    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Node ${{ matrix.node }} on ${{ matrix.platform }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node }}
    - name: Install dependencies
      run: npm install
    - name: Test
      run: npm run test

